@import '~antd/dist/antd.css';

html,
body {
  height: 100%;
}

.App {
  display: flex;
  min-height: 100%;
  flex-direction: row;
  height: 100%;
  overflow-y: hidden;
  position: relative;
  background: #F1F3F5;
}